
<div *ngIf="this.currentExercise && this.currentExercise.setsContainer.length > 0">

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <div class="inputFieldsRowWrapper" *ngFor="let repetition of repetitions.controls; index as i">
      <p>gfaddsgfdsgsdfgsdfg</p>
      <div *ngIf="this.exerciseType() === EXERCISE_TYPE.OnlyReps" class="inputFieldsRowWrapperEntryColumn repsSpanWrapper">
        <span class="RepsSpan">Reps:</span>
      </div>
      <div *ngIf="this.exerciseType() === EXERCISE_TYPE.OnlyTime" class="inputFieldsRowWrapperEntryColumn repsSpanWrapper">
        <span class="RepsSpan">Hold:</span>
      </div>
      <div [ngStyle]="{'margin-left': this.currentExercise.weight === true ? '50' : '5'}" class="inputFieldsRowWrapperEntryColumn wrapper-left" formArrayName="repetitions">
        <p>00000000000000</p>
        <button (click)="this.incrementRepetitions(i)" class="controlButton quantityButton" type="submit">
          <img class="quantityUpButtonImage controlButtonImage"
               src="../../../../assets/pictures/menuButtons/workout-player/arrowUp2.svg">
        </button>

        <input type="number" class="setInput" step="1" min="0" max="" name="quantity"
               value="1" title="Qty" size="4" pattern="" inputmode="" [formControlName]="i" placeholder="0">

        <button (click)="this.decrementRepetitions(i)" class="controlButton quantityButton" type="submit">
          <img class="quantityDownButtonImage controlButtonImage"
               src="../../../../assets/pictures/menuButtons/workout-player/arrowDown2.svg">
        </button>
      </div>
      <p>1111111111111111111</p>
      <div *ngIf="this.exerciseType() === EXERCISE_TYPE.RepsAndWeight" class="inputFieldsRowWrapperEntryColumn wrapper-center">
        <p>22222222222222</p>
        <img class="xTimesImage" src="../../../../assets/pictures/menuButtons/workout-player/crossProduct.svg">
      </div>
      <div *ngIf="this.currentExercise.timeBased === true" class="inputFieldsRowWrapperEntryColumn wrapper-center">
        <span class="kgSpan">s</span>
      </div>
      <div *ngIf="this.currentExercise.weight===true" class="inputFieldsRowWrapperEntryColumn wrapper-right" formArrayName="weights">
        <button (click)="this.incrementWeight(i)" class="controlButton quantityButton" type="submit">
          <img class="quantityUpButtonImage controlButtonImage"
               src="../../../../assets/pictures/menuButtons/workout-player/arrowUp2.svg">
        </button>
        <input type="number" class="setInput" step="1" min="1" max="" name="quantity"
               value="1" title="Qty"
               size="4"
               pattern="" inputmode="" [formControlName]="i">
        <button (click)="this.decrementWeight(i)" class="controlButton quantityButton" type="submit">
          <img class="quantityDownButtonImage controlButtonImage"
               src="../../../../assets/pictures/menuButtons/workout-player/arrowDown2.svg">
        </button>
      </div>
      <div *ngIf="this.currentExercise.weight===true" class="inputFieldsRowWrapperEntryColumn wrapper-center-right">
        <span class="kgSpan">kg</span>
      </div>
      <button (click)="this.removeEntry(i)" class="controlButton removeEntryButton" type="submit">
        <img class="quantityControlButtonImage" src="../../../../assets/pictures/menuButtons/workout-player/minusButton.svg">
      </button>
    </div>
  </form>
  <div class="inputFieldsRowWrapper">
    <button (click)="this.addEntry()" class="controlButton addEntryButton" type="submit">
      <img class="quantityControlButtonImage" src="../../../../assets/pictures/menuButtons/workout-player/plusButton.svg">
    </button>
  </div>
</div>
