.controlButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border: none;

}
.quantityButton {
  margin-right: auto;
  margin-left: auto;
  width: 60px;
  height: 45px;
}
.removeEntryButton {
  margin: auto auto auto 20px;
  width: 35px;
  height: 35px;
}
.addEntryButton {
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  width: 45px;
}
.controlButtonImage {
  width: 30px;
}
.quantityControlButtonImage {
  width: 100%;
}
.quantityDownButtonImage {
}
.quantityUpButtonImage {
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
.inputFieldsRowWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.setInput {
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  width: 60px;
  font-size: 30px;
  text-align: center;
  outline:none;
  background: transparent;
  border: none;
  color: white;
}
.inputFieldsRowWrapperEntryColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper-left {
  width: 70px;
  margin-left: 50px;
}
.wrapper-center {
  width: 30px;
  margin: auto 10px;
}
.wrapper-right {
  width: 70px;
}
.wrapper-center-right {
  width: 60px;
  margin-bottom: auto;
  margin-top: auto;
}
.xTimesImage {
  margin: auto;
  width: 60%;
  height: 15%;
}
.kgSpan {
  margin: auto;
  text-align: center;
  font-size: 30px;
  width: 80%;
  height: 50px;
  color: white;
}
