<app-menu></app-menu>

<div class="d-flex justify-content-center content-wrapper">
  <div class="content-div">

    <div class="post-creation-wrapper">
      <div class="formWrapper">
        <div #fileInputWrapper id="file-input-wrapper">
          <label class="file-input-default-image-label" *ngIf="!this.url" for="file-input">
            <img class="file-input-default-image"
                 src="../../../../assets/pictures/menuButtons/workoutCreation/pictureIconBlack.svg"/>
          </label>
          <input #fileInput id="file-input" type="file" (change)="selectFile($event)"/>

          <img *ngIf="this.url" (click)="this.removeImage()" class="close-cross-for-picture"
               src="../../../../assets/pictures/menuButtons/workoutCreation/close-button.svg"/>
          <img #inputImage class="file-input-image-landscape" *ngIf="this.url" [src]="this.url" cdkDrag
               (cdkDragEnded)="this.dragTheImage($event)" appSetImageSize
               [cdkDragFreeDragPosition]="dragPosition.toCdkDragFreeDragPosition()" (load)="this.canvasDrawing()">

        </div>
        <div id = "description-wrapper">
          <label class="description-input-label">
            <!--<input class="description-input" type="textarea" placeholder="description" [(ngModel)]="this.description">-->
            <textarea class="description-input" type="textarea" placeholder="description" [(ngModel)]="this.description"></textarea>
          </label>
        </div>
        <div class="next-button-wrapper">
          <button class="next-button" (click)="upload()">
            Create
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
<canvas style="border: 1px solid black; display: none" #canvas></canvas>

