.controlButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: none;

}

.entry-panel-wrapper {
  margin: 0;
  height: calc(100% - 20px);
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}

.quantityButton {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-height: 45px;
}

.removeEntryButton {
  margin: auto;
  max-width: 35px;
  height: 10%;
}

.addEntryButton {
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  width: 45px;
}

.controlButtonImage {
  max-width: 30px;
}

.quantityControlButtonImage {
  max-height: 100%;
  max-width: 100%;
}

.quantityDownButtonImage {
}

.quantityUpButtonImage {
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.inputFieldsRowWrapper {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
}
.setInput {
  margin-right: auto;
  margin-left: auto;
  max-height: 50px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  outline: none;
  background: transparent;
  border: none;
  color: black;
}

.inputFieldsRowWrapperEntryColumn {
  position: relative;
  height: 45%;
  width: 100%;
  margin: auto;
  justify-content: center;
  display: table;
}

.wrapper-left {
  width: 70px;
}

.wrapper-center {
  width: 60px;
  margin: auto 10px;
}

.wrapper-right {
  width: 70px;
}

.xTimesImage {
  margin: auto;
  width: 60%;
  height: 15%;
}

.kgSpan {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;

}

.RepsSpan {

  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-size: 30px;

  height: 50px;

}

.repsSpanWrapper {

  margin-bottom: auto;
  margin-top: auto;
}

.postfixesWrapper {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.verticalCentered {
  display: table-cell;
  vertical-align: middle;

}

.entriesHeight {
  display: table;
  height: 90%;
}
.form-grouping {
  height: 100%;
  margin: 0;
  padding: 0;
}
.entry-panel-outer-wrapper {

  height: 240px;
  max-width: 498px;
  min-width: 300px;
  overflow-x: auto;
  display: flex;
  padding: 0;
  margin: 0;
}
.entry-panel-title {
  height: 20px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
