.post-type-frame {
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: 50px;
  border: solid black 2px;
}

.post-type-image {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.workout-post-image {
  margin-left: 50px;
}

.simple-post-image {
  float: right;
  margin-right: 50px;
}

.workout-post-frame {
  width: 50%;
}

.simple-post-frame {
  width: 50%;
}

.post-creation-wrapper {
  border: solid black 1px;
}

.formWrapper {

}

.file-input-image-landscape {
  height: 100%;
  width: auto;
}
.file-input-image-portrait {
  width: 100%;
  height: auto;
}
#file-input-wrapper {
  border: 1px solid black;
  margin: auto;
  max-width: 500px;
  height: 400px;
  overflow: hidden;
}

#file-input {
  display: none;
}

.file-input-default-image {
  width: 100%;
  opacity: 0.3;
  margin-top: auto;
  margin-bottom: auto;
}

.file-input-default-image-label {
  display: flex;
  height: 100%;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.workout-data-creation-wrapper {
  width: 100%;

  border: black solid 1px;
  margin: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;

}

.days-bar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 0;
  height: 40px;

  display: flex;
}

.add-button {
  background-image: url(
  '../../../assets/pictures/menuButtons/menuPlus.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: none;
}

.day-button {
  width: 80px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  background: #111110;
}

.day-button-input {
  background-color: Transparent;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  color: antiquewhite;
  text-align: center;
}
.phase-top-Bar-dotted-1 {
  height: 100px;
  width: 100%;
  border-top: black 1px dashed;
  border-left: black 1px dashed;
  border-right: black 1px dashed;
  margin-top: 20px;
  margin-top: 20px;
}
.phase-top-Bar-dotted-2 {
  height: 90px;
  width: calc(100% - 10px);
  border-top: black 1px dashed;
  border-left: black 1px dashed;
  border-right: black 1px dashed;
  margin: 10px auto 0px;
  display: flex;
  flex-direction: column;
}
.margin-center {
  margin-left: auto;
  margin-right: auto;
}
.phase-container {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}
.phase-top-Bar {
  height: 15px;
  width: 100%;
  background-color: #111110;
}
.exercises-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 5px black solid;
  border-right: 5px black solid;
}
.single-exercise-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 300px;
  overflow: visible;
  border-bottom: solid black 1px;
}
