<app-menu></app-menu>

<div class="d-flex justify-content-center content-wrapper">
  <div class="content-div">
    <div class="post-type-frame">
      <div class="simple-post-frame">
        <img class="post-type-image simple-post-image" src="../../../assets/pictures/menuButtons/menuPlus.svg">
      </div>
      <div class="workout-post-frame">
        <img class="post-type-image workout-post-image" src="../../../assets/pictures/menuButtons/dumbbell.svg">
      </div>
    </div>
    <div class="post-creation-wrapper">
      <div class="formWrapper">

        <div id="file-input-wrapper">
          <label class="file-input-default-image-label" *ngIf="!this.url" for="file-input">
            <img class="file-input-default-image" src="../../../assets/pictures/menuButtons/pictureIconBlack.svg"/>
          </label>
          <input id="file-input" type="file" (change)="selectFile($event)"/>
          <img id="file-input-image" class="file-input-image-landscape" *ngIf="this.url" [src]="this.url" cdkDrag
               (cdkDragEnded)="this.dragTheImage($event)" appSetImageSize [cdkDragFreeDragPosition]="dragPosition">
        </div>

        <div class="workout-data-creation-wrapper">

          <div class="days-bar">
            <button  class="day-button" (click)="setSelectedDay(i)" *ngFor="let day of this.days; index as i;">
              <input class="day-button-input" type="text" placeholder="{{day.dayName}}">
            </button>
            <button class="add-button" (click)="this.addDay()"></button>

          </div>
          <div *ngIf="this.days[this.selectedDay]">
            <div *ngFor="let phase of this.days[this.selectedDay].phases" class="phase-container">
              <div class="phase-top-Bar">
              </div>
              <div class="exercise-container">
                <button class="add-button margin-center" (click)="this.router.navigate(['./exercises'], {relativeTo: this.activatedRoute});"></button>
                <p class="text-center">Add Exercise</p>
              </div>

            </div>
          </div>
          <div *ngIf="this.days[this.selectedDay]" class="phase-top-Bar-dotted-1">
            <div class="phase-top-Bar-dotted-2">
              <button class="add-button margin-center" (click)="this.addPhase()"></button>
              <p class="text-center">Add Phase</p>
            </div>
          </div>

        </div>


        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
          Upload
        </button>

        <div class="alert alert-light" role="alert">{{ message }}</div>

        <div class="card">
          <div class="card-header">List of Files</div>
          <ul
            class="list-group list-group-flush"
            *ngFor="let file of fileInfos | async"
          >
            <li class="list-group-item">
              <a href="{{ file.url }}">{{ file.name }}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
