.post-type-frame {
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: 50px;
  border: solid black 2px;
}
.post-type-image {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.workout-post-image {
  margin-left: 50px;
}
.simple-post-image {
  float: right;
  margin-right:50px;
}
.workout-post-frame {
  width: 50%;
}
.simple-post-frame {
  width:50%;
}
.post-creation-wrapper {
  border: solid black 1px;
}
#file-input-wrapper {
  border: 1px solid black;
  margin: auto;
  max-width: 500px;
  height: 400px;
  overflow: visible;
  display: flex;
}
#file-input {
  display: none;
}
.file-input-default-image {
  height: 50%;
}
.file-input-default-image-label {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.workout-data-creation-wrapper {
  width: 100%;
  height: 200px;
  border: black solid 1px;
  margin: auto;
  max-width: 500px;
  display: flex;

}
.days-bar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 0;
  height: 40px;
  display: flex;
}
.add-button {
  background-image: url(
  '../../../assets/pictures/menuButtons/menuPlus.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border: none;
}
.day-button {
  width: 80px;
  height: 40px;
  cursor:pointer;
  overflow: hidden;
  border-radius: 6px;
  background: #111110;
}
.day-button-input {
  background-color: Transparent;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  color: antiquewhite;
  text-align: center;
}
