.post-type-frame {
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: 70px;

}

.post-type-image {
  margin: 0px;
  padding: 0px;

  width: auto;
}

.workout-post-image {
  height: 35px;
}

.simple-post-image {
  margin-top: 7px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
}

.workout-post-frame {
  display: flex;
  flex-direction: column;
  width: 10%;
  margin-left: 10%;
  cursor: pointer;
}

.simple-post-frame {
  display: flex;
  flex-direction: column;
  width: 10%;
  margin-left: 35%;
  cursor: pointer;
}

.post-creation-wrapper {

}

.formWrapper {
  margin-top: 50px;
}

.file-input-image-landscape {
  height: 100%;
  width: auto;
}
.file-input-image-portrait {
  height: auto;
  width: 100%;
}
#file-input-wrapper {
  border: 1px solid black;
  margin: auto;
  max-width: 500px;
  overflow: hidden;
}

#file-input {
  display: none;
}

.file-input-default-image {
  width: 100%;
  opacity: 0.3;
  margin-top: auto;
  margin-bottom: auto;
}

.file-input-default-image-label {
  display: flex;
  height: 100%;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.workout-data-creation-wrapper {
  margin-top: 20px;
  width: 100%;
  border: black solid 1px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;

}

.days-bar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 0;
  height: 40px;

  display: flex;
}

.add-button {
  /*
  background-image: url(
  '../../../assets/pictures/menuButtons/menuPlus.svg');
   */
  margin-top: 5px;
  background-size: cover;
  width: 80px;
  height: 30px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  border-style: dashed;

}

.day-button {
  margin-right: 20px;
  margin-top: 5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  background: #111110;
}

.day-button-input {
  background-color: Transparent;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  color: antiquewhite;
  text-align: center;
}
.phase-top-Bar-dotted-1 {
  height: 100px;
  width: 100%;
  border-top: black 1px dashed;
  border-left: black 1px dashed;
  border-right: black 1px dashed;
  margin-top: 20px;
}
.phase-top-Bar-dotted-2 {
  height: 90px;
  width: calc(100% - 10px);
  border-top: black 1px dashed;
  border-left: black 1px dashed;
  border-right: black 1px dashed;
  margin: 10px auto 0px;
  display: flex;
  flex-direction: column;
}
.margin-center {
  margin-left: auto;
  margin-right: auto;
}
.phase-container {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}
.phase-top-Bar {
  margin-top: 20px;
  height: 15px;
  width: 100%;
  background-color: #111110;
}
.exercises-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 5px black solid;
  border-right: 5px black solid;
}
.single-exercise-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 300px;
  overflow: visible;
  border-bottom: solid black 1px;
}
.next-button {

  background-color: #030c03;
  border-radius: 5px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 80px;
}
.next-button-wrapper {
  height: 50px;
  width: 100%;
  text-align: center;
}
