<app-menu></app-menu>

<div class="d-flex justify-content-center content-wrapper">
  <div #contentDiv class="content-div-media-specific">

    <app-video-player [videoHandler]="this"></app-video-player>





    <div *ngIf="this.currentExercise?.userEntryRequired === false" class="time-container">
      <app-remaining-time-chart [timeLeft]="this.timeCounter"
                                [totalTime]="this.currentExercise.timeLength"></app-remaining-time-chart>
    </div>

    <div *ngIf="this.showEntryPanel === true" class="dashboard-container">
      <app-dashboard [tablesComponent]="this" [currentDayWorkout]="currentDayWorkout" [currentExercise]="currentExercise"></app-dashboard>
    </div>

  </div>
</div>



