
.content-div-common {
  margin-top: 50px;
  position: relative;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.setDisplay-wrapper-common {
  position:absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  /*height: calc(100% - 160px);
  width: 100%;*/
  border: solid black 1px;
  background-color: #111110;

}
.exerciseTitleWrapper {
  width: 100%;
  height: 10%;
  display: flex;
  margin: 0;
  padding: 0;
}
.exerciseTitle {
  color: white;
  margin: auto auto auto auto;
}
.tableContainer {
  width: 100%;
  height: 84%;
  display: flex;
  flex-direction: row;
}
.setContainer {

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}
.setDisplayComponents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  overflow: auto;
}
.lastSetComponent {
  border-right: solid black 1px;
}
.motherBoard {
  width: 100%;
  height: 6%;
  padding: 0;
  margin: 0;
}
.lastTwoSetsContainer {
  position: absolute;
  background-color: #0e1013;
  height: 100px;
}
.time-container {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.clock {
  color: antiquewhite;
  font-size: 2em;
  -webkit-text-stroke: 1px black;
}
@media (max-width: 767px) {
  .content-div-media-specific {
    width: 100%;
    padding-top: 750%;
  }
  .showIfMobile {
    display: flex;
    height:auto;
    width: 100%;
  }
  .showIfNonMobile {
    height:0;
    width:0;
  }
  .nextButton {
    color: white;
    display: inline;
    cursor: pointer;
    margin-left: 100px;
  }
  .endButton {
    color: white;
    display: inline;
    float: right;
    margin-right: 100px;
    cursor: pointer;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow: auto;
    align-items: center;
    background-color: RGB(250, 250, 250);
  }
}
@media (min-width: 768px) {
  .content-div-media-specific {
    width: 1000px;
    padding-top: 750px;
  }
  .showIfMobile {
    height:0;
    width:0;
  }
  .showIfNonMobile {
    height:100%;
    width: 100%;
  }
  .nextButton {
    color: white;
    display: inline;
    cursor: pointer;
    margin-left: calc(50% + 100px);
  }
  .endButton {
    color: white;
    display: inline;
    float: right;
    margin-right: 100px;
    cursor: pointer;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: calc(100% - 45px);
    align-items: center;
    /*background-color: RGB(250, 250, 250);*/
  }
}

