<div class="pageFrame">
  <app-menu #menu></app-menu>
  <div class="d-flex justify-content-center content-wrapper">

    <div class="content-div">

      <a class="groupBox" routerLink='workout/new-workout'>
        <div class="workoutcreation">
          <p>Create your own workout</p>
          <img alt="home" src="../../assets/pictures/gym1.png">
        </div>
      </a>
      <a class="groupBox" routerLink="workout">
        <div class="workoutgroups">
          <div class="groupTextHolder">
            <p>Saved Workouts</p>
          </div>
          <div class="workoutgroupsinnderdivs">
            <ng-template [ngIf]="this.getImageToShow()[0]">
              <img [src]="this.getImageToShow()[0].image" class="img-thumbnail previewImage" *ngIf="this.getImageToShow()[0].isLoaded;">
            </ng-template>
          </div>
          <div class="workoutgroupsinnderdivs">
            <ng-template [ngIf]="this.getImageToShow()[1]">
              <img [src]="this.getImageToShow()[1].image" class="img-thumbnail previewImage" *ngIf="this.getImageToShow()[1].isLoaded;">
            </ng-template>
          </div>
          <div class="workoutgroupsinnderdivs">
            <ng-template [ngIf]="this.getImageToShow()[2]">
              <img [src]="this.getImageToShow()[2].image" class="img-thumbnail previewImage" *ngIf="this.getImageToShow()[2].isLoaded;">
            </ng-template>
          </div>
          <div class="workoutgroupsinnderdivs">
            <ng-template [ngIf]="this.getImageToShow()[3]">
              <img [src]="this.getImageToShow()[3].image" class="img-thumbnail previewImage" *ngIf="this.getImageToShow()[3].isLoaded;">
            </ng-template>
          </div>
        </div>
      </a>

    </div>
  </div>

</div>
