<div class="centerContent frame-content">
  <img [src]="this.saveUrl(workout.creator.profileImageSmall)">
  <h2 class="centerContent"
      style="text-align: center;">{{this.workout["name"]}}</h2>
  <img class="centerContent imageLimiter img-thumbnail"
       [src]="this.workout['image']" (click)="expandContent()">
  <div class="expandButtonWrapper centerContent">
    <img [src]=this.likeButtonImage(this.workout.isSavedFromCurrentUser) class="like-button-image"
         (click)=this.likeWorkout(this.workout)>
    <img class="toggleImageStyle" [src]="this.toggleImage"
         (click)="expandContent()">
  </div>

  <div [ngClass]="this.isCollapsed ? 'collapsed' : 'expanded'"
       class="centerContent">
    <div *ngFor="let days of this.workout.days">
      <h3 style="text-align: center; margin-top: 30px" class="centerContent">
        {{days.name}} <img (click)="this.playDayWorkout(days)" class="playButton" alt="play"
                           src="../../assets/pictures/menuButtons/square-play-button.svg">
      </h3>
      <div class="phaseContainer" *ngFor="let phase of days.phases">
        <h4 class="phase">{{phase.name}}</h4>
        <p *ngFor="let exercise of phase.exercises">{{exercise.name}}</p>
      </div>
    </div>
  </div>

</div>


