<p>new-workout works! fff</p>

<div class="formWrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="inputFieldsWrapper">
      <input type="text" class="setInput"  formControlName="workoutName">
      <button  type="submit">&#10003;</button>
      <!--button class="setInputButton" type="button" (click)="pushToDB()">complete</button-->
    </div>
  </form>

  <div *ngIf="currentFile" class="progress">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>

  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)" />
  </label>

  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
    Upload
  </button>

  <div class="alert alert-light" role="alert">{{ message }}</div>

  <div class="card">
    <div class="card-header">List of Files</div>
    <ul
      class="list-group list-group-flush"
      *ngFor="let file of fileInfos | async"
    >
      <li class="list-group-item">
        <a href="{{ file.url }}">{{ file.name }}</a>
      </li>
    </ul>
  </div>
</div>
