<div class="pageFrame">
  <div class="frame">
    <div class="menuLeft">
       <img alt="home" src="../../assets/pictures/menuButtons/mySport.svg" >
    </div>
    <div class="menuCentered">
      <a  [routerLink]="['../management', 11]" routerLinkActive="active" >
        <img alt="home" src="../../assets/pictures/menuButtons/menuHome2.svg" style="max-width: 40px; max-height: 40px">
      </a>


      <a (click)="openCloseSideNavigation()" routerLink="/workoutoverview" routerLinkActive="active">
        <img alt="home" src="../../assets/pictures/menuButtons/dumbbell.svg" style="width: 40px; height: 40px">
      </a>


      <a (click)="openCloseSideNavigation()" routerLink="" routerLinkActive="active">
        <img alt="home" src="../../assets/pictures/menuButtons/menuFood.svg" style="width: 40px; height: 40px">
      </a>

      <a (click)="openCloseSideNavigation()" routerLink="" routerLinkActive="active">
        <img alt="home" src="../../assets/pictures/menuButtons/menuFriends.svg" style="width: 40px; height: 40px">
      </a>
      <a (click)="openCloseSideNavigation()" routerLink="" routerLinkActive="active">
        <img alt="home" src="../../assets/pictures/menuButtons/menuPlus.svg" style="width: 40px; height: 40px">
      </a>

    </div>
    <a class="profile" (click)="openCloseSideNavigation(); logout()" routerLink="" routerLinkActive="active">
      <img alt="home" src="../../assets/pictures/menuButtons/menuProfil.svg" style="width: 40px; height: 40px">
    </a>
    <!--
    <p>
      <a (click)="openCloseSideNavigation()" routerLink="profile" routerLinkActive="active">welcome</a>
    </p>
  -->

  </div>
</div>
