<div class = "siteWrapper">
  <div class="lastTwoSetsContainer" *ngIf="this.updatedExercise && this.updatedExercise.setsContainer.length > 0">
    <div class="singleSetsContainer" *ngFor="let setContainer of (this.lastTwoSets) | reverse">
      <p class="text-center">{{setContainer?.timeOfExercise.toDateString()}}</p>
      <p class="text-center" *ngFor="let exerciseSet of setContainer?.exerciseSets">{{exerciseSet.repetitions}} X {{exerciseSet.weight}} Kg</p>
    </div>
  </div>
  <div echarts [options]="options" [merge]="updateOptions" class="chart"></div>
</div>


