<div class="siteWrapper">


  <ul>
    <li (click)="showExercises(excerciseGroup)" *ngFor="let excerciseGroup of exerciseGroups">
      <p class="groupBox">{{ excerciseGroup.label }}</p>
      <div class="innerWrapper" *ngIf="group === excerciseGroup.label">
        <div class="innerWrapperDepth2" *ngFor="let exercise of excerciseGroup.exercises">
          <a  class="groupBox2"
             [routerLink]="['../tables/', makeString(exercise)]">{{ exercise["name"] }}</a>
        </div>
      </div>
    </li>
  </ul>

</div>
