.black-button {
  background-color: #020122;
  color: white;
}
.white-button {
  background-color: white;
  color: #111110;
}
.single-user-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  display: flex;
}
.user-name {
  width: calc(100% - 60px);
  margin: auto;
}
.follow-button {
  width:60px;
  margin: auto;
}
@media (min-width: 768px) {
  .single-user-container-width {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .single-user-container-width {
    width: 100%;
  }
}
