.siteWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-right: solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  overflow: auto;
}
.chart {
  height: 100%;

}
.singleSetsContainer {

}
