<div class="pageFrame">
  <app-menu #menu></app-menu>
  <div class="d-flex justify-content-center content-wrapper">

    <div class="content-div">
      <div class="search-and-create-wrapper">
        <a class="create-link" routerLink='workout/new-workout'>
          <div class="workoutcreation search-or-create-link">
            <p class = "icon-text black-white-text">CREATE</p>
            <img class="create-or-search-page" alt="home"
                 src="../../../assets/pictures/menuButtons/workout-preview-page/gym-dumbbell.svg">
          </div>
        </a>

        <a class="search-link" routerLink="workout" [queryParams]="{criteria: '[]'}">
          <div class="workoutcreation search-div search-or-create-link">
            <p class = "icon-text black-white-text">SEARCH</p>
            <img class="create-or-search-page" alt="home"
                 src="../../../assets/pictures/menuButtons/workout-preview-page/searchIcon.svg">
          </div>
        </a>
      </div>
      <a class="groupBox" routerLink="/saved-workouts-list">
        <div class="workoutgroups">
          <div class="groupTextHolder">
            <p class="black-white-text">Saved Workouts</p>
          </div>
          <div class="workoutgroupsinnderdivs">
            <ng-template [ngIf]="this.previewImages[0]">
              <img [src]="this.previewImages[0].image" class="img-thumbnail previewImage">
            </ng-template>
          </div>
          <div class="workoutgroupsinnderdivs">
            <ng-template [ngIf]="this.previewImages[1]">
              <img [src]="this.previewImages[1].image" class="img-thumbnail previewImage">
            </ng-template>
          </div>
          <div class="workoutgroupsinnderdivs">
            <ng-template [ngIf]="this.previewImages[2]">
              <img [src]="this.previewImages[2].image" class="img-thumbnail previewImage">
            </ng-template>
          </div>
          <div class="workoutgroupsinnderdivs">
            <ng-template [ngIf]="this.previewImages[3]">
              <img [src]="this.previewImages[3].image" class="img-thumbnail previewImage">
            </ng-template>
          </div>
        </div>
      </a>

    </div>
  </div>

</div>
