@media (max-width: 767px) {
  .content-wrapper {
    height: calc(100% - 35px);
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .workoutgroupsinnderdivs {
    margin: 10px 10px 10px 10px;
    width:calc(50% - 20px);
    box-sizing: border-box;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .content-wrapper {
    height: calc(100% - 45px);
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: RGB(250, 250, 250);
  }

  .workoutgroupsinnderdivs {
    margin: 10px 10px 10px 10px;
    width:calc(50% - 20px);
    height: 250px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
}
.content-div {
  padding: 0px;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  overflow-y: auto;
}

.previewImage {
  max-height: 100%;
  max-width: 100%;
  margin: auto auto auto auto;
}

.pageFrame {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;

  text-align: center;
  align-items: center;
}

.content {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  height: calc(100% - 52px);
}

.frame {
  padding: 0px;
height: 100%;
  width: 100%;
  max-width: 1000px;

  border-bottom: solid black 1px;
  overflow-y: auto;
}
.workoutcreation {
  margin-top: 20px;
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.workoutcreation p{
  width: 100%;
  position: absolute;
  left: 50%;
  top:calc(50% - 15px);
  transform: translate(-50%, -50%);
  margin-top: 80px;

}

.workoutgroups {
  margin-top: 40px;
  width: 100%;

  border: solid black 1px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.groupTextHolder {

  height: 60px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
p {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-size: 50px;
  color: white;
  text-decoration: none;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}

.create-or-search-page {
  max-width: 100px;
}

.search-div {
  float: right;
}

.create-link {
  width: 25%;
  margin-left: 15%;
}
.search-link {
  width: 25%;
  margin-left: 20%;
}
.search-and-create-wrapper {
  display: flex;
}
