<div *ngIf="this.currentExercise && this.currentExercise.setsContainer.length > 0">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <div class="inputFieldsRowWrapper" *ngFor="let repetition of repetitions.controls; index as i">
      <div class="inputFieldsRowWrapperEntryColumn wrapper-left" formArrayName="repetitions">
        <button (click)="this.incrementRepetitions(i)" class="controlButton quantityButton" type="submit">
          <img class="quantityUpButtonImage controlButtonImage"
               src="../../../../../assets/pictures/menuButtons/quantityButtonUp.svg">
        </button>

        <input type="number" class="setInput" step="1" min="0" max="" name="quantity"
               value="1" title="Qty" size="4" pattern="" inputmode="" [formControlName]="i" placeholder="0">

        <button (click)="this.decrementRepetitions(i)" class="controlButton quantityButton" type="submit">
          <img class="quantityDownButtonImage controlButtonImage"
               src="../../../../../assets/pictures/menuButtons/quantityButtonDown.svg">
        </button>
      </div>
      <div class="inputFieldsRowWrapperEntryColumn wrapper-center">
        <img class="xTimesImage" src="../../../../../assets/pictures/menuButtons/crossProduct.svg">
      </div>
      <div class="inputFieldsRowWrapperEntryColumn wrapper-right" formArrayName="weights">
        <button (click)="this.incrementWeight(i)" class="controlButton quantityButton" type="submit">
          <img class="quantityUpButtonImage controlButtonImage"
               src="../../../../../assets/pictures/menuButtons/quantityButtonUp.svg">
        </button>
        <input type="number" class="setInput" step="1" min="1" max="" name="quantity"
               value="1" title="Qty"
               size="4"
               pattern="" inputmode="" [formControlName]="i">
        <button (click)="this.decrementWeight(i)" class="controlButton quantityButton" type="submit">
          <img class="quantityDownButtonImage controlButtonImage"
               src="../../../../../assets/pictures/menuButtons/quantityButtonDown.svg">
        </button>
      </div>
      <div class="inputFieldsRowWrapperEntryColumn wrapper-center-right">
        <span class="kgSpan">kg</span>
      </div>
      <button (click)="this.removeEntry(i)" class="controlButton removeEntryButton" type="submit">
        <img class="controlButtonImage" src="../../../../../assets/pictures/menuButtons/minusButton.svg">
      </button>
    </div>
  </form>
  <div class="inputFieldsRowWrapper">
    <button (click)="this.addEntry()" class="controlButton addEntryButton" type="submit">
      <img class="controlButtonImage" src="../../../../../assets/pictures/menuButtons/plusButton.svg">
    </button>
  </div>
</div>
