<div class="expandButtonWrapper centerContent">

  <img class="footer-image" [src]=this.likeButtonImage(this.workout.isSavedFromCurrentUser)
       (click)=this.likeWorkout(this.workout)>
  <img class="footer-image" src="assets/pictures/menuButtons/post-footer/chat.svg">
  <img class="footer-image" src="assets/pictures/menuButtons/post-footer/send.svg">

  <img class="footer-image float-right" [src]="this.toggleImage"
       (click)="expandContent()">
  <img class="footer-image float-right" src="assets/pictures/menuButtons/post-footer/bookmark.svg">
  <img class="footer-image float-right" src="assets/pictures/menuButtons/post-footer/calendar.svg">






</div>
