<app-menu></app-menu>

<div class="d-flex justify-content-center content-wrapper">

  <div class="content-div">
    <div *ngFor="let workoutListing of this.workoutListings; index as i" class="workoutsContainer">
      <div class = "centerContent frame-content">
        <h2 class="centerContent"
           style="text-align: center;">{{workoutListing.workout["name"]}}</h2>
        <img class="centerContent imageLimiter img-thumbnail"
             [src]="workoutListing.workout['image']" (click)="expandContent(workoutListing)">
        <div class="expandButtonWrapper centerContent">
          <img class="toggleImageStyle" [src]="workoutListing['toggleImage']"
               (click)="expandContent(workoutListing)">
        </div>
        <div [ngClass]="workoutListing.isCollapsed ? 'collapsed' : 'expanded'"
             class="centerContent">
          <div *ngFor="let days of workoutListing.workout.days">
            <h3 style = "text-align: center; margin-top: 30px" class = "centerContent">
            {{days.name}} <img routerLink="tables/{{workoutListing.workout.id}}/{{days.id}}" class = "playButton" alt="play" src="../../assets/pictures/menuButtons/square-play-button.svg">
            </h3>

            <div class="phaseContainer" *ngFor="let phase of days.phases">
              <h4 class="phase">{{phase.name}}</h4>

              <p *ngFor="let exercise of phase.exercises">{{exercise.name}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>



