<div class="bottom-bar-wrapper">


  <img class="skip-back-button control-button"
       src="../../../../assets/pictures/menuButtons/workout-player/skip-back-button.svg">
  <img class="play-button control-button"
       src="../../../../assets/pictures/menuButtons/workout-player/pause-button.svg">
  <img class="play-button control-button" (click)="this.videoHandler.endWorkout()"
       src="../../../../assets/pictures/menuButtons/workout-player/stop-button.svg">
  <img class="play-button control-button"
       src="../../../../assets/pictures/menuButtons/workout-player/play-button.svg">
  <img class="play-button control-button" (click)="this.videoHandler.nextExercise()"
       src="../../../../assets/pictures/menuButtons/workout-player/skip-forward-button.svg">

</div>
