<div class="dashboard-wrapper">
  <app-remaining-time-chart [totalTime]=this.totalTimeInExercise
                            [timeLeft]="this.timeLeftInExercise"></app-remaining-time-chart>
  <app-entry-panel [currentExercise]="this.currentExercise"></app-entry-panel>
  <app-pie-chart [currentExercise]="this.currentExercise"></app-pie-chart>
  <app-pie-chart [currentExercise]="this.currentExercise"></app-pie-chart>
  <app-last-set [currentExercise]="this.currentExercise"></app-last-set>
</div>

