<div class="dashboard-wrapper">
  <div class="time-and-position-chart-wrapper">
    <app-remaining-time-chart [totalTime]=this.totalTimeInExercise
                              [timeLeft]="this.timeLeftInExercise"></app-remaining-time-chart>
    <app-workout-position-chart [totalTime]=this.totalTimeInExercise
                                [timeLeft]="this.timeLeftInExercise"></app-workout-position-chart>
  </div>

  <app-entry-panel [currentExercise]="this.currentExercise" (currentExerciseEvent)="this.currentExerciseChangeListener($event)"></app-entry-panel>
  <app-pie-chart [currentExercise]="this.currentExercise"></app-pie-chart>
  <app-pie-chart [currentExercise]="this.currentExercise"></app-pie-chart>
  <app-last-set [currentExercise]="this.currentExercise"></app-last-set>
  <div class="kpi-chart-wrapper">
    <app-kpi [kpi]="this.strengthIndex"></app-kpi>
    <app-kpi [kpi]="this.burnedCalories"></app-kpi>
  </div>
  <app-next-exercise-preview [tablesComponent]="this.tablesComponent"  [exercises]="this.currentDayWorkout.phases[0].exercises" [position]=1></app-next-exercise-preview>
</div>
